.listContent {
	grid-area: content;
}

.listPaper {
	display: grid;
	grid-template-areas: 
		".    .    ."
		". content ."
		".    .    ."
		;
	grid-template-columns: 8em auto 8em;
	grid-template-rows: 8em auto 8em;
}