.listPaper {
	display: flex;
	flex-direction: column;

	/* Red line will need to position relative to this container */
	position: relative;

	/* For the child elements that need left/top margins*/
	--line-margin: 6em;
	--top-margin: 5em;

	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
}

.listPaper::before {
	content: '';
	position: absolute;
	top: 0;
	border-left: solid palevioletred 0.125em;
	height: 100%;

	/* Must be the same as the relative*/
	left: var(--line-margin);
}

.listPaper h1,
.listPaper label {
	padding-left: var(--line-margin);
}

.listPaper label {
	border-top: solid paleturquoise 0.125em;
}

.listPaper label:last-of-type {
	border-bottom: solid paleturquoise 0.125em;
}

.listPaper h1 {
	padding-top: var(--top-margin);
	border-bottom: solid paleturquoise 0.125em;
	margin-bottom: 0.25em;
}