
.listPaper {
	display: flex;
	flex-direction: column;
}

.listPaper h1,
.listPaper p {
	padding-left: 5em;
}

.listPaper p {
	border-top: solid paleturquoise 0.125em;
}

.listPaper p:last-of-type {
	border-bottom: solid paleturquoise 0.125em;
}

.listPaper h1 {
	padding-top: 5em;
	border-bottom: solid paleturquoise 0.125em;
	margin-bottom: 0.25em;
}